<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472402111634-jc39ro2nnvo7pngcc0217atjfilq27or.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472402111634-jc39ro2nnvo7pngcc0217atjfilq27or</string>
	<key>API_KEY</key>
	<string>AIzaSyBlOcStTQyaF2ovXGWOXD3fEmmZQUe0TfA</string>
	<key>GCM_SENDER_ID</key>
	<string>472402111634</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yohelzarco.appuniversity.Login-firebase</string>
	<key>PROJECT_ID</key>
	<string>login-firebase-fd0b6</string>
	<key>STORAGE_BUCKET</key>
	<string>login-firebase-fd0b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472402111634:ios:055deca8f89d2845e74a4b</string>
</dict>
</plist>